doctype
html
	head
		title Макеты верстки Realweb
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(rel="shortcut icon", href="_index/favicon.ico", type="image/x-icon")
		link(rel="icon", href="_index/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", type="text/css", href="_index/style.css")

		//if lt IE 9
			<script>
				document.createElement('header');
				document.createElement('nav');
				document.createElement('section');
				document.createElement('article');
				document.createElement('aside');
				document.createElement('footer');
			</script>

	body
		header
			a(href="http://realweb.ru", target="_blank", class="left")
				img(src="_index/logo.gif", alt="realweb")
			.right Профессиональная разработка сайтов 
				//- br
				a(href="http://sites.realweb.ru/contacts.html", target="_blank") Контактная информация
			.clear
		section
			.block-text
				h1  <%= projectTitle %>
				table
					tr
						th(width="30%") Ссылка
						th Название страницы
					each page in locals.pages
						tr
							td
								a(href="#{page.file}.html", target="_blank") #{page.file}.html
							td #{page.name}